{% extends 'base.html' %}

{% block content %}
<h5>Nama: </h5>
<p>{{nama}}</p>

<table>
    <tr>
    <th>Status Tonton</th>
    <th>Judul Film</th>
    <th>Nilai</th>
    <th>Tanggal Rilis</th>
    <th>Review</th>
    </tr>
    {% comment %} Tambahkan data di bawah baris ini {% endcomment %}
    {% for film in list_film %}
    <tr>
        <th>{{film.watched}}</th>
        <th>{{film.title}}</th>
        <th>{{film.rating}}</th>
        <th>{{film.release_date}}</th>
        <th>{{film.review}}</th>        
    </tr>
{% endfor %}
</table>
{% endblock content %}